<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracker</title>
    <link rel="stylesheet" href="static/css/tracker.css">
</head>
<body>
<div class="upload-file">
    <input type="file" name="maybe-excel" id="only-file">
</div>
<div class="content">
    <div class="single">
        <div class="single-header">
            <p>jsflkajsfklasjfslkjaskl</p>
            <span><a class="toggle-sh" href="javascript:void(0);">x</a></span>
        </div>
        <div class="origin-hide">
            WebSocket transport not available. Install simple-websocket for improved performance.
            Werkzeug appears to be used in a production deployment. Consider switching to a production web server
            instead.
            WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI
            server instead
        </div>
    </div>
    <div class="single">
        <div class="single-header">
            <p>jsflkajsfklasjfslkjaskl</p>
            <span><a class="toggle-sh" href="javascript:void(0);">x</a></span>
        </div>
        <div class="origin-hide">
            WebSocket transport not available. Install simple-websocket for improved performance.
            Werkzeug appears to be used in a production deployment. Consider switching to a production web server
            instead.
            WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI
            server instead
        </div>
    </div>
    <div class="single">
        <div class="single-header">
            <p>jsflkajsfklasjfslkjaskl</p>
            <span><a class="toggle-sh" href="javascript:void(0);">x</a></span>
        </div>
        <div class="origin-hide">
            WebSocket transport not available. Install simple-websocket for improved performance.
            Werkzeug appears to be used in a production deployment. Consider switching to a production web server
            instead.
            WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI
            server instead
        </div>
    </div>
    <div class="single">
        <div class="single-header">
            <p>jsflkajsfklasjfslkjaskl</p>
            <span><a class="toggle-sh" href="javascript:void(0);">x</a></span>
        </div>
        <div class="origin-hide">
            WebSocket transport not available. Install simple-websocket for improved performance.
            Werkzeug appears to be used in a production deployment. Consider switching to a production web server
            instead.
            WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI
            server instead
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="static/js/tracker.js"></script>
</body>
</html>